body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    max-height: 100vh;
}

.hero {
    height: 370px;
    background-color: #1f2937;
    padding: 20px 40px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 60px;
}

.right-header {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-right: 40px;

}

.hero-logo {
    width: 40px;
}

a:link {
    text-decoration: none;
}
a {
    color: #e5e7eb;
    font-size: 18px;

}

.hero-content {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}

.text-hero {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.text-hero2 {
    font-size: 18px;
    color: #e5e7eb;
}

.button-hero {
    border-radius: 4px;
    color: #f9faf8;
    background-color: #3882f6;
}

